/* Estilo general para el header de admin */
.admin-header {
  display: flex;
  align-items: center; /* Alinea todos los elementos verticalmente en el centro */
  margin-top: 5px;
  padding: 20px 20px;
  height: 20%; /* Fija la altura del header */
  justify-content: space-between; /* Distribuye los elementos */
  position: fixed; /* Hace que el header esté fijo en la pantalla */
  top: 0; /* Lo fija en la parte superior */
  width: 100%; /* Asegura que el header ocupe todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
  transition: background-color 0s;
}

.admin-header-transparent {
  background-color: #1a1a1a00;
}

.admin-header-red {
  background-color: #1a1a1a00;
}

/* Título */
.admin-header h1 {
  margin: 0;
  font-size: 24px;
  color: #ffffff; /* Texto blanco */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-right: 20px; /* Añadimos un poco de espacio a la derecha */
}

.admin-logo {
  display: flex;
  align-items: center; /* Centra verticalmente el logo dentro del header */
}

.admin-logo img {
  height: 160px;
  margin-top: 20px; /* Ajusta este valor según la separación que desees */
}

.admin-icon img {
  height: 80px;
  margin-top: 20px;
}

/* Estilo de la barra de navegación */
.admin-nav {
  margin-left: auto; /* Empuja el nav a la derecha */
}

/* Estilo de la lista de navegación */
.admin-nav ul {
  list-style-type: none;
  display: flex; /* Alinea los elementos de la lista horizontalmente */
  margin: 0;
  padding: 0;
  align-items: center; /* Asegura que los items se alineen verticalmente */
}

/* Estilo para cada item de la lista */
.admin-nav ul li {
  margin: 0 10px;
}

/* Estilo de los enlaces */
.admin-nav ul li a {
  color: #ffffff; /* Texto blanco */
  text-decoration: none;
  display: flex; /* Usamos flexbox para alineación */
  align-items: center; /* Alinea verticalmente el texto */
  height: 100%; /* Hace que el texto ocupe todo el alto disponible */
}

/* También puedes cambiar el color cuando de los enlaces esté en hover */
.admin-nav ul li a:hover {
  color: rgb(255, 168, 5); /* Cambiar color al pasar el ratón */
}

.admin-nav ul li button {
  color: #ffffff; /* Texto blanco */
  text-decoration: none;
  display: flex; /* Usamos flexbox para alineación */
  align-items: center; /*
  height: 100%; /* Hace que el texto ocupe todo el alto disponible */
}

/* También puedes cambiar el color cuando el botón esté en hover */
.admin-nav ul li button:hover {
  color: rgb(255, 168, 5); /* Cambiar color al pasar el ratón */
}

.user-button {
  color: rgb(255, 255, 255);
}
