.page-background {
  background-image: url("Fondo3.jpg");
  background-size: cover; /* Ajusta el fondo al tamaño de la pantalla */
  background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
  background-position: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #f0f0f03a; /* Fondo del contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 10%; /* 10% de margen superior, centrado horizontalmente */
  margin-bottom: 2.5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2_admin {
  color: #333;
  margin-bottom: 20px;
}

.contenedor-filtro {
  margin-bottom: 20px;
}

.tabla-posiciones {
  width: 100%;
}
