.encabezado{
  margin-top: 20%;
}

.hola {
  text-align: center;
  align-items: center;
  height: 75%;
  width: 70%;
  background-color: #ff0000;
  padding: 2rem;
  padding-top: 2.4rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  margin-right: 3%;
}
