/* Estilo general para el header de admin */
.jurado-header {
  display: flex;
  align-items: center; /* Alinea todos los elementos verticalmente en el centro */
  margin-top: 5px;
  padding: 20px 20px;
  height: 20%; /* Fija la altura del header */
  justify-content: space-between; /* Distribuye los elementos */
  position: fixed; /* Hace que el header esté fijo en la pantalla */
  top: 0; /* Lo fija en la parte superior */
  width: 100%; /* Asegura que el header ocupe todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
  transition: background-color 0s;
}

.jurado-header-transparent {
  background-color: #1a1a1a00;
}

.jurado-header-red {
  background-color: #1a1a1a00;
}

/* Título */
.jurado-header h1 {
  margin: 0;
  font-size: 24px;
  color: #ffffff; /* Texto blanco */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-right: 20px; /* Añadimos un poco de espacio a la derecha */
}

.jurado-logo {
  display: flex;
  align-items: center; /* Centra verticalmente el logo dentro del header */
}

.jurado-logo img {
  height: 160px;
  margin-top: 20px; /* Ajusta este valor según la separación que desees */
}

.jurado-icon img {
  height: 80px;
  margin-top: 20px;
}

/* Estilo de la barra de navegación */
.jurado-nav {
  margin-left: auto; /* Empuja el nav a la derecha */
}

/* Estilo de la lista de navegación */
.jurado-nav ul {
  list-style-type: none;
  display: flex; /* Alinea los elementos de la lista horizontalmente */
  margin: 0;
  padding: 0;
  align-items: center; /* Asegura que los items se alineen verticalmente */
}

/* Estilo para cada item de la lista */
.jurado-nav ul li {
  margin: 0 10px;
}

/* Estilo de los enlaces */
.jurado-nav ul li a {
  color: #ffffff; /* Texto blanco */
  text-decoration: none;
  display: flex; /* Usamos flexbox para alineación */
  align-items: center; /* Alinea verticalmente el texto */
  height: 100%; /* Hace que el texto ocupe todo el alto disponible */
}

/* También puedes cambiar el color cuando de los enlaces esté en hover */
.jurado-nav ul li a:hover {
  color: rgb(255, 168, 5); /* Cambiar color al pasar el ratón */
}

.jurado-nav ul li button {
  color: #ffffff; /* Texto blanco */
  text-decoration: none;
  display: flex; /* Usamos flexbox para alineación */
  align-items: center; /*
  height: 100%; /* Hace que el texto ocupe todo el alto disponible */
}

/* También puedes cambiar el color cuando el botón esté en hover */
.jurado-nav ul li button:hover {
  color: rgb(255, 168, 5); /* Cambiar color al pasar el ratón */
}

.jurado-button {
  color: rgb(255, 255, 255);
}

/* header-admin.css */

/* Otras clases... */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.modal-content p {
  margin-bottom: 2rem;
}

.modal-content button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #2563eb;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal-content button:hover {
  background-color: #1d4ed8;
}
